<!doctype html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Home - Arrakis</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Arrakis</a></h1>
        </header>
        <main>
            <h2>Spice Mines</h2>
            <p>Nothing here yet</p>
        </main>
        <footer>Powered by <a href="https://golang.org/">Go</a></footer>
    </body>
</html>
